.App {
  text-align: center;

  .website-search {

    .top-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 30px;
      align-items: center;
      background: #D8A6FA;

      .search {
        width: 400px;
        font-size: 18px;
        padding: 5px;
        box-sizing: border-box;
      }

      input {
        height: 40px;
      }

      .search:focus{
        outline: none;
      }
    }

    .fetch-logo {
      height: 70px;
    }

    .website-form {
      margin-right: 230px;

    }

    .error {

    }

    .data-section {
      box-sizing: border-box;
      white-space: pre;
      text-align: left;
      padding: 0 50px 0 50px;
      white-space: pre-wrap;
      width: 100%;
      line-height: normal;
    }

    .tags-index {
      display: flex;
      flex-wrap: wrap;

      .tag {
        // background: #9f26ef;
        border: 2px solid #9f26ef;
        padding: 10px;
        margin-top: 10px;
        margin-left: 3.75%;
        border-radius: 7px;
        cursor: pointer;
        width: 10%;
        // color: white;
        box-sizing: border-box;
        transition: 0.5s;
      }

      .marked {
        background: #9f26ef;
        color: white;
      }

      .tag:hover {
        background: #9f26ef;
        color: white;
        transition: 0.5s;
      }

      @media (max-width: 1210px) {
        .tag {
          width: 14%;
          margin-left: 5%;
        }
      }

      @media (max-width: 870px) {
        .tag {
          width: 20%;
          margin-left: 4%;
        }
      }

      @media (max-width: 600px) {
        .tag {
          width: 27%;
          margin-left: 4.75%;
        }
      }

      @media (max-width: 450px) {
        .tag {
          width: 40%;
          margin-left: 6.6%;
        }
      }
    }
  }
}

mark{
  color: #ffffff;
    background: #AF4EF1;
}
