.App {
  text-align: center;
  color: #00666B;

  .website-search {

    .top-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 30px;
      align-items: center;
      background: #00B1B9;
      box-sizing: border-box;

      .search {
        width: 400px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #DBDBDB;
      }

      .search, input[type=submit] {
        margin: 0 5px;
        font-size: 16px;
        border-radius: 6px;
        color: #00666B;
        height: 45px;
        -webkit-box-shadow: 0px 1px 3px rgba(0,0,0.5,0.5);
        margin-top: 10px;
      }

      input[type=submit] {
        padding: 5px 30px;
        background: #02e2ed;
        border: 0 none;
        cursor: pointer;
        transition: 0.5s;
      }

      input[type=submit]:hover {
        background: #00F4FF;
        transition: 0.5s;
      }

      input {
        outline: none;
      }

      @media (max-width: 825px) {
        .website-form {
          display: flex;
          flex-direction: column;

          label {
            display: flex;
            flex-direction: column;
          }
        }

        input {
          width: 400px;
        }
      }

      @media (max-width: 560px) {
        input, .search {
          width: 300px;
        }
      }
    }

    .fetch-logo {
      height: 70px;
    }

    .website-form {
      margin-left: 30px;
    }

    .error {
      font-style: italic;
    }

    .instructions {
      font-size: 30px;
      padding: 50px;
    }

    .data-section {
      box-sizing: border-box;
      white-space: pre;
      text-align: left;
      padding: 0 50px 0 50px;
      white-space: pre-wrap;
      width: 100%;
      line-height: normal;
    }

    .tags-index {
      display: flex;
      flex-wrap: wrap;

      .tag {
        // background: #00B1B9;
        border: 2px solid #00B1B9;
        padding: 10px;
        margin-top: 10px;
        margin-left: 3.75%;
        border-radius: 7px;
        cursor: pointer;
        width: 10%;
        // color: white;
        box-sizing: border-box;
        transition: 0.5s;
      }

      .marked {
        background: #00B1B9;
        color: white;
      }

      .tag:hover {
        background: #00B1B9;
        color: white;
        transition: 0.5s;
      }

      @media (max-width: 1210px) {
        .tag {
          width: 14%;
          margin-left: 5%;
        }
      }

      @media (max-width: 870px) {
        .tag {
          width: 20%;
          margin-left: 4%;
        }
      }

      @media (max-width: 600px) {
        .tag {
          width: 27%;
          margin-left: 4.75%;
        }
      }

      @media (max-width: 450px) {
        .tag {
          width: 40%;
          margin-left: 6.6%;
        }
      }
    }
  }
}

mark {
  color: #ffffff;
  background: #00d9e2;
}
