.App {
  text-align: center;
  color: #00666B;
  font-family: 'Raleway', sans-serif; }
  .App .website-search .top-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    align-items: center;
    background: #00B1B9;
    box-sizing: border-box; }
    .App .website-search .top-nav .search {
      width: 400px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #DBDBDB; }
    .App .website-search .top-nav .search, .App .website-search .top-nav input[type=submit] {
      margin: 0 5px;
      font-size: 16px;
      border-radius: 6px;
      color: #00666B;
      height: 45px;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 1, 0.5);
      margin-top: 10px; }
    .App .website-search .top-nav input[type=submit] {
      padding: 5px 30px;
      background: #02e2ed;
      border: 0 none;
      cursor: pointer;
      transition: 0.5s; }
    .App .website-search .top-nav input[type=submit]:hover {
      background: #00F4FF;
      transition: 0.5s; }
    .App .website-search .top-nav input {
      outline: none; }
    @media (max-width: 825px) {
      .App .website-search .top-nav .website-form {
        display: flex;
        flex-direction: column; }
        .App .website-search .top-nav .website-form label {
          display: flex;
          flex-direction: column; }
      .App .website-search .top-nav input {
        width: 400px; } }
    @media (max-width: 560px) {
      .App .website-search .top-nav input, .App .website-search .top-nav .search {
        width: 300px; } }
  .App .website-search .fetch-logo {
    height: 70px; }
  .App .website-search .website-form {
    margin-left: 30px; }
  .App .website-search .error {
    font-style: italic; }
  .App .website-search .instructions {
    font-size: 30px;
    padding: 50px; }
  .App .website-search .data-section {
    box-sizing: border-box;
    white-space: pre;
    text-align: left;
    padding: 0 50px 0 50px;
    white-space: pre-wrap;
    width: 100%;
    line-height: normal; }
  .App .website-search .tags-index {
    display: flex;
    flex-wrap: wrap; }
    .App .website-search .tags-index .tag {
      border: 2px solid #00B1B9;
      padding: 10px;
      margin-top: 10px;
      margin-left: 3.75%;
      border-radius: 7px;
      cursor: pointer;
      width: 10%;
      box-sizing: border-box;
      transition: 0.25s; }
    .App .website-search .tags-index .tag:hover, .App .website-search .tags-index .marked {
      background: #00B1B9;
      color: white; }
    .App .website-search .tags-index .tag:hover {
      transition: 0.25s; }
    @media (max-width: 1210px) {
      .App .website-search .tags-index .tag {
        width: 14%;
        margin-left: 5%; } }
    @media (max-width: 870px) {
      .App .website-search .tags-index .tag {
        width: 20%;
        margin-left: 4%; } }
    @media (max-width: 600px) {
      .App .website-search .tags-index .tag {
        width: 27%;
        margin-left: 4.75%; } }
    @media (max-width: 450px) {
      .App .website-search .tags-index .tag {
        width: 40%;
        margin-left: 6.6%; } }

mark {
  color: #ffffff;
  background: #00d9e2; }
